[Unit]
Description=Node.js App reviews crawler from RabbitMQ queue
[Service]
PIDFile=/tmp/dequeue_reviews.pid
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/swag-crawler/
ExecStart=/swag-crawler/dequeue_reviews.js
[Install]
WantedBy=multi-user.target
