[Unit]
Description=Node.js App review batches crawler from RabbitMQ queue
[Service]
PIDFile=/tmp/dequeue_10K_reviews.pid
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/swag-crawler/
ExecStart=/swag-crawler/dequeue_10K_reviews.js
[Install]
WantedBy=multi-user.target
