[Unit]
Description=Node.js APK file downloader from RabbitMQ queue
[Service]
PIDFile=/tmp/dequeue_apks.pid
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/swag-crawler/
ExecStart=/swag-crawler/dequeue_apks.js
[Install]
WantedBy=multi-user.target
