[Unit]
Description=Node.js App metadata crawler from RabbitMQ queue
[Service]
PIDFile=/tmp/dequeue_meta_data_enqueue_apk.pid
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/swag-crawler/
ExecStart=/swag-crawler/dequeue_meta_data_enqueue_apk.js
[Install]
WantedBy=multi-user.target
