[Unit]
Description=Node.js App metadata crawler from RabbitMQ queue
[Service]
PIDFile=/tmp/dequeue_meta_data_enqueue_apk.pid
User=<Your Username>
Group=<Your User Group>
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/home/<username>/swag-crawler/
ExecStart=/home/<username>/swag-crawler/dequeue_meta_data_enqueue_apk.js
[Install]
WantedBy=multi-user.target
