[Unit]
Description=Node.js App updates download crawler from RabbitMQ queue
[Service]
PIDFile=/tmp/requeue_meta_data_for_updates.pid
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/swag-crawler/
ExecStart=/swag-crawler/requeue_meta_data_for_updates.js
[Install]
WantedBy=multi-user.target
